<header>
  <%= render 'layouts/navbar', title: "日記を書く" %>
</header>
<section id="diary_record_area">
  <%= form_with model: @diary, html: { style: "width: 60%;"} do |form| %>
    <%= render "layouts/form", form: form %>
  <% end %>
</section>
