body {
  line-height: 1.5;
}

a {
  text-decoration: none !important;
  color: #707070 !important;
}

p {
  margin: 0 !important;
}

li, ul {
  list-style: none;
}

/* l-header  */

.l-header {
  font-size: 90%;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.l-header-contents {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.l-header-contents-flex {
  position: relative;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 55px;
  background-color: #fff;
  align-items: center;
}

.humberger {
  margin-left: 1em;
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
.humberger div {
  position: absolute;
  left: 0;
  height: 3px;
  width: 24px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
.humberger div:nth-of-type(1) {
  top: 0;
}
.humberger div:nth-of-type(2) {
  top: 10px;
}
.humberger div:nth-of-type(3) {
  bottom: 0;
}
.humberger-toggle {
  display: none;
}

.header-contents-logo {
  line-height: 25px;
  display: block;
  width: 100%;
  height: 25px;
  padding-left: 2em;
}

.header-contents-logo > p {
  font-weight: bold;
}


/* sidemenu */
.overlay {
  display: none;
}

/* drawer-menu */
.drawer-menu {
  width: 160px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.drawer-menu ul {
  background-color: transparent;
}

.drawer-menu ul li+li {
  border-top: none;
  box-shadow: none;
}

.drawer-menu ul li a {
  padding: 8px 0;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-left: 0;
  color: #707070;
}

/* contents */
#contents {
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  background-color: #fbfbfb;
  position: relative;
  margin: auto;
  z-index: 98;
}

.contents-flex {
  display: flex;
  width: 100%;
  max-width: 1000px;
  min-height: 440px;
  margin: 20px auto 0;
  flex-direction: row-reverse;
}

.content-main {
  width: calc(85% - 20px);
}

.content-nav {
  width: 160px;
  max-width: calc(220px - 20px);
  padding-right: 10px;
}

section {
  margin: auto auto 70px;
}

section:last-child {
  margin-bottom: 20px;
}

.basesection {
  width: 100%;
  max-width: 832px;
  margin: 30px auto 40px;
}

.basesection-header {
  margin-bottom: 8px;
  margin-left: 1vw;
}

.sectiontitle {
  display: flex;
  align-items: center;
}

.sectiontitle-caption {
  padding-right: 20px;
  text-align: left;
  color: #707070;
}

.sectiontitle-caption > p {
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.basesection-card {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
}

.basesection-period {
  margin-left: 1vw;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* basesection-period */
.dashboard-period-popdown .period-popdown-controls {
  display: flex;
  flex-direction: row;
  float: none;
}

.period-popdown-controls {
  white-space: nowrap;
  height: 36px;
}

.period-popdown-controls .current {
  color: #222;
  font-weight: 600;
  font-size: 24px;
  float: left;
  height: 100%;
  padding-top: 6px;
  margin: 0;
}

.dashboard-period-popdown .period-popdown-controls .prev {
  float: none;
  background: white;
  box-shadow: inset 0 0 0 1px #f3f3f3;
  width: 36px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  0 12px;
}

.dashboard-period-popdown .period-popdown-controls .current {
  border: 1px solid #f3f3f3;
  background: white;
  padding: 8px 10px 10px 10px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.dashboard-period-popdown .period-popdown-controls .next {
  float: none;
  margin: 0;
  background: white;
  box-shadow: inset 0 0 0 1px #f3f3f3;
  width: 36px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  0 12px;
}

.basesection-contents {
  display: flex;
  flex-direction: column;
}

/* Login form */
.login-form {
  margin: 0 auto !important;
}

/* article */
section#diary_record_area {
  background: #FBFBFB;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
  min-height: 528px;
  display: block;
  overflow: hidden;
}

h2.diary_record_area {
  margin-bottom: 15px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border-top: 2px solid #0894f2;
  border-bottom: 1px solid #f3f2e8;
  padding: 12px;
  background: #fff;
}

#diary_record table td,
#diary_record table th {
  text-align: left;
  border-bottom: 1px solid #dcebf5;
  vertical-align: middle;
  padding: 10px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td > label {
  margin-right: 5%;
}

#diary_record > .form-group {
  margin-top: 10px;
}

/* display block */
div article section {
  display: block;
}

article {
  margin-bottom: 30px;
  position: relative;
}

.post-wrapper {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.08);
  background-color: #FBFBFB;
}

.clearfix {
  zoom: 1;
}

.post {
  padding: 0;
  background-color: #FBFBFB;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}

.post-content {
  padding: 20px;
  padding-bottom: 0;
}

.post-content .body-text {
  line-height: 1.5;
}

.post-content p {
  margin: 0;
}

.post-content p+p {
  margin-top: 1em;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

.post-content .date {
  font-weight: bold;
}

.post-content .body-text {
  margin-bottom: 5%;
  line-height: 1.6;
}

section .conditions {
  border-top: 1px solid #e9e9ebee;
  margin: 12px 12px 12px 0px;
  padding: 8px 0;
}

div .condition-wrapper {
  margin-top: 5px;
  display: flex;
}

div .condition-title {
  display: flex;
  margin-right: 1em;
  justify-content: center;
  align-items: center;
}

.conditions-title > div {
  width: 100%;
  height: 1px;
}
.condition-title > p {
  display: block;
  text-align: center;
}

div .condition-title .right {
  margin-right: 1em;
}


.list-group {
  margin: 0;
  display: flex;
}

.basesection-card.statistics {
  height: 60vh;
}



@media screen and (max-width:960px) {
  /* 960px以下 */
  body {
    line-height: 1.4;
  }

  .l-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding-bottom: 0;
  }

  .humberger:hover {
    cursor: pointer;
    background-color: transparent;
  }

  .humberger-toggle {
    display: block;
  }

  .header-contents-logo {
    display: block;
    max-width: 106px;
    height: 37px;
    margin: 15px auto 0;
    text-align: center;
    padding: 0;
  }

  #sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-left: -250px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all 0.3s;
  }

  #sidebar.active {
    margin-left: 0;
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 98;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .overlay.active {
    display: block;
    opacity: 1;
  }

  #dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 65px;
    right: 10px;
    z-index: 110;
    display: flex;
  }

  .sidebar-menu {
    margin: 0;
    padding: 0;
    padding-top: 56px;
    list-style: none;
  }

  .sidebar-menu li {
    font-size: 15px;
    position: relative;
    padding: 0;
    background: white;
  }

  .sidebar-menu li a {
    display: block;
    padding: 10px;
    color: grey;
  }

  #contents {
    padding-top: 66px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #fff;
    margin-top: 0;
  }

  .content-main {
    width: 100%;
  }

  .content-nav {
    display: none;
  }

  .sectiontitle {
    justify-content: center;
  }

  .sectiontitle-caption {
    display: flex;
    padding-right: 0;
  }

  .sectiontitle-caption > p {
    font-size: 16px;
    text-align: left;
    justify-content: center;
  }
}

@media screen and (min-width:960px) {
  /* 960px以上 */
  #sidebar {
    display: none;
  }
}
