body {
  font-size: 15px;
  margin: 0 auto;
  line-height: 1.4;
  color: #444;
  background: white;
  font-family: Helvetica,Arial,sans-serif;
}


/* form */

section#diary_record_area {
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
  min-height: 528px;
  display: block;
  overflow: hidden;
}

h2.diary_record_area {
  margin-bottom: 15px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  border-top: 2px solid #0894f2;
  border-bottom: 1px solid #f3f2e8;
  padding: 12px;
  background: #fff;
}

#diary_record table td,
#diary_record table th {
  text-align: left;
  border-bottom: 1px solid #dcebf5;
  vertical-align: middle;
  padding: 10px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td > label {
  margin-right: 5%;
}

#diary_record > .form-group {
  margin-top: 10px;
}

/* select_month  */
.selected_month {
  width: 100%;
  margin-bottom: 20px;
}

.requested_month {
  color: black;
  text-align: center;
}

.to_last_month {
  float: left;
  width: 30%;
  text-align: left;
}

.to_next_month {
  float: right;
  width: 30%;
  text-align: right;
}

/* display block */
div article section {
  display: block;
}


.main {
  display: flex;
  flex-direction: column;
  flex: auto;
  max-width: 500px;
  margin: auto;
}

article {
  margin-bottom: 30px;
  position: relative;
}

.post-wrapper {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  padding: 0;
  position: relative;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.08);
}

.clearfix {
  zoom: 1;
}

.post {
  padding: 0;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}

.post-content {
  padding: 20px;
}

.post-content .body-text {
  line-height: 1.5;
}

.post-content p {
  margin: 0;
}

.post-content p+p {
  margin-top: 1em;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

.post-content .date {
  font-weight: bold;
}

.post-content .body-text {
  margin-bottom: 5%;
  line-height: 1.6;
}

section .conditions {
  border-top: 1px solid #e9e9ebee;
  margin: 12px 12px 12px 0px;
  padding: 8px 0;
}

div .condition-wrapper {
  margin-top: 5px;
  display: inline-flex;
}

div .condition-title {
  margin: auto;
  padding-right: 10px;
}

.list-group {
  margin: 0;
  display: inline-flex;
}

/* Statistics */
canvas {
  width: 400px;
  height: 300px;
}
