<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
  <!-- Navbar links -->
  <div class="mr-auto pl-2">
    <span class="inline-block">
      <span class="inline-block">
        <p class="content-title inline-block"><%= title %></p>
        <% if title == "体調グラフ" %>
          <span class="content-period">
            <%= render 'layouts/change_period', report: @report %>
          </span>
          <span class="chart-toggles">
            <a class="activity enabled">活動量</a>
            <a class="mood enabled">気分</a>
            <a class="appetite enabled">食欲</a>
          </div>
        <% end %>
      </span>
    </span>
  </div>
  <!--./ Navbar links -->
</nav>
<!--./ Navbar -->
