<%= link_to "<", "#{report.prev_period}", class: 'prev', style: "z-index: 10; position: relative;" %>
<span class="current" style="z-index: 10; position: relative;"><%= report.date_begin %>~<%= report.date_end %></span>
<%= link_to ">", "#{report.next_period}", class: 'next', style: "z-index: 10; position: relative;"%>
